{{>partials/header}}

Opa {{name}} {{lastName}}, tudo bem?
{{#showOld}}
    Como vai a vida?
{{/showOld}}
{{^showOld}}
    Beleza?
{{/showOld}}
    
<hr/>
<h2>Usuários do banco</h2>
<ul>
    {{#users}}
        <li>
            {{name}} (Primeira Letra: {{ firstLetterOfName }}) - {{age}}y &emsp;
            <a href="/user/{{ id }}/addAge" >Mais</a> &ensp;
            <a href="/user/{{ id }}/subAge" >Menos</a> &ensp;
            <a href="/user/{{ id }}/update" >Editar</a> &ensp;
            <a href="/user/{{ id }}/delete" >Excluir</a>
        </li>
    {{/users}}
    <a href="/user/create" >Adicionar</a>
</ul> 


<hr/>
<h2>Produtos</h2>
<ul>
    {{#products}}
        {{>partials/productItem}}
    {{/products}}
</ul>

<hr/>
<h2>Produtos a partir de R$ 12</h2>
<ul>
    {{#expensives}}
        {{>partials/productItem}}
    {{/expensives}}
</ul>

<hr/>

<ul>
    {{#frasesDoDia}}
        <li>{{.}}</li>
    {{/frasesDoDia}}
    {{^frasesDoDia}}
        Não há frases motivacionais hoje.
    {{/frasesDoDia}}
</ul>

{{>partials/footer}}